$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ptcusys-icon-assignments: "\e600";
$ptcusys-icon-bookmark1: "\e601";
$ptcusys-icon-custom: "\e602";
$ptcusys-icon-complete: "\e603";
$ptcusys-icon-menu: "\e604";
$ptcusys-icon-delete: "\e605";
$ptcusys-icon-lesson: "\e606";
$ptcusys-icon-arrow-left: "\e607";
$ptcusys-icon-arrow-down2: "\e608";
$ptcusys-icon-arrow-up1: "\e609";
$ptcusys-icon-arrow-right: "\e60a";
$ptcusys-icon-learning-path1: "\e60b";
$ptcusys-icon-settings1: "\e60c";
$ptcusys-icon-recently-viewed: "\e60d";
$ptcusys-icon-users1: "\e60e";
$ptcusys-icon-class1: "\e60f";
$ptcusys-icon-customize: "\e610";
$ptcusys-icon-reports1: "\e611";
$ptcusys-icon-course1: "\e612";
$ptcusys-icon-mapping1: "\e613";
$ptcusys-icon-save2: "\e614";
$ptcusys-icon-comment1: "\e615";
$ptcusys-icon-search1: "\e616";
$ptcusys-icon-file-structure1: "\e617";
$ptcusys-icon-process: "\e618";
$ptcusys-icon-plus: "\e619";
$ptcusys-icon-minus: "\e61a";
$ptcusys-icon-undo1: "\e61b";
$ptcusys-icon-trash: "\e61c";
$ptcusys-icon-view: "\e61d";
$ptcusys-icon-revert-iteration: "\e61e";
$ptcusys-icon-redo1: "\e61f";
$ptcusys-icon-assessment1: "\e620";
$ptcusys-icon-create-new: "\e621";
$ptcusys-icon-image1: "\e622";
$ptcusys-icon-audio: "\e623";
$ptcusys-icon-video: "\e624";
$ptcusys-icon-expand1: "\e625";
$ptcusys-icon-contract1: "\e626";
$ptcusys-icon-list1: "\e627";
$ptcusys-icon-numbered-list: "\e628";
$ptcusys-icon-attachment1: "\e629";
$ptcusys-icon-bold1: "\e62a";
$ptcusys-icon-underline1: "\e62b";
$ptcusys-icon-italic1: "\e62c";
$ptcusys-icon-indent-increase: "\e62d";
$ptcusys-icon-indent-decrease: "\e62e";
$ptcusys-icon-warning1: "\e62f";
$ptcusys-icon-note1: "\e630";
$ptcusys-icon-history1: "\e631";
$ptcusys-icon-wrench1: "\e632";
$ptcusys-icon-graduation1: "\e633";
$ptcusys-icon-code1: "\e634";
$ptcusys-icon-refresh1: "\e635";
$ptcusys-icon-home1: "\e636";
$ptcusys-icon-key1: "\e637";
$ptcusys-icon-visibility: "\e638";
$ptcusys-icon-visibility-off1: "\e639";
$ptcusys-icon-user: "\e63a";
$ptcusys-icon-email: "\e63b";
$ptcusys-icon-details: "\e63c";
$ptcusys-icon-manageusers: "\e63d";
$ptcusys-icon-add-user: "\e63e";
$ptcusys-icon-user-check: "\e63f";
$ptcusys-icon-bin2: "\e640";
$ptcusys-icon-play3: "\e641";
$ptcusys-icon-resume1: "\e642";
$ptcusys-icon-localization: "\e643";
$ptcusys-icon-admin1: "\e644";
$ptcusys-icon-copy1: "\e645";
$ptcusys-icon-viewDoc: "\e646";
$ptcusys-icon-file-stats1: "\e647";
$ptcusys-icon-user-block: "\e648";
$ptcusys-icon-user2: "\e649";
$ptcusys-icon-switch1: "\e64a";
$ptcusys-icon-checkbox-checked: "\e64b";
$ptcusys-icon-copy25: "\e64c";
$ptcusys-icon-send2: "\e64d";
$ptcusys-icon-square-up: "\e64e";
$ptcusys-icon-revision1: "\e64f";
$ptcusys-icon-loop: "\e650";
$ptcusys-icon-pause: "\e651";
$ptcusys-icon-pause2: "\e652";
$ptcusys-icon-info: "\e653";
$ptcusys-icon-info2: "\e654";
$ptcusys-icon-calendar1: "\e800";
$ptcusys-icon-exit1: "\e801";
$ptcusys-icon-RemoveFromListing: "\e900";
$ptcusys-icon-user-plus: "\e901";
$ptcusys-icon-sign-in1: "\e902";
$ptcusys-icon-checkbox-unchecked: "\e903";
$ptcusys-icon-video-camera1: "\e904";
$ptcusys-icon-addToList: "\e905";
$ptcusys-icon-back-arrow: "\e906";
$ptcusys-icon-forum1: "\e907";
$ptcusys-icon-file-text: "\e908";
$ptcusys-icon-envelope: "\e909";
$ptcusys-icon-user3: "\e90a";
$ptcusys-icon-composition1: "\e90b";
$ptcusys-icon-excel: "\e90c";
$ptcusys-icon-download2: "\e90d";
$ptcusys-icon-lock: "\e90e";
$ptcusys-icon-clear: "\e90f";
$ptcusys-icon-external-link1: "\e910";
$ptcusys-icon-move1: "\e911";
$ptcusys-icon-arrow-down1: "\e912";
$ptcusys-icon-move-up1: "\e913";
$ptcusys-icon-move-down1: "\e914";
$ptcusys-icon-arrow-up2: "\e915";
$ptcusys-icon-link1: "\e916";
$ptcusys-icon-facebook2: "\e917";
$ptcusys-icon-filter1: "\e918";
$ptcusys-icon-book: "\e919";
$ptcusys-icon-open-book: "\e91a";
$ptcusys-icon-open-book-top-view: "\e91b";
$ptcusys-icon-question1: "\e91c";
$ptcusys-icon-modify: "\e927";
$ptcusys-icon-cancel-circle2: "\e937";
$ptcusys-icon-enlarge1: "\e989";
$ptcusys-icon-file-empty1: "\e99e";
$ptcusys-icon-mail: "\ea32";
$ptcusys-icon-tree1: "\ec65";
$ptcusys-icon-cancel-circle: "\ed65";
$ptcusys-icon-cancel-square: "\ed68";
$ptcusys-icon-facebook: "\eef0";
$ptcusys-icon-twitter: "\eef5";
$ptcusys-icon-linkedin: "\ef29";
$ptcusys-icon-file-pdf1: "\ef3e";
$ptcusys-icon-single-topic: "\f016";
$ptcusys-icon-question-circle1: "\f059";
$ptcusys-icon-upload1: "\f093";
$ptcusys-icon-multiple-topics: "\f0c5";
$ptcusys-icon-lightbulb: "\f0eb";
$ptcusys-icon-plus-square: "\f0fe";
$ptcusys-icon-minus-square: "\f146";
$ptcusys-icon-star-3: "\e9c9";
$ptcusys-icon-level: "\e9c7";
$ptcusys-icon-star-2: "\e9c8";
$ptcusys-icon-account: "\e91d";
$ptcusys-icon-activity: "\e91e";
$ptcusys-icon-activity-content: "\e91f";
$ptcusys-icon-activity-document: "\e920";
$ptcusys-icon-add-create-new: "\e921";
$ptcusys-icon-add-to-list: "\e922";
$ptcusys-icon-add-users: "\e923";
$ptcusys-icon-admin: "\e924";
$ptcusys-icon-arrow-back: "\e925";
$ptcusys-icon-arrow-down: "\e926";
$ptcusys-icon-arrow-forward: "\e928";
$ptcusys-icon-arrow-up: "\e929";
$ptcusys-icon-assessment: "\e92a";
$ptcusys-icon-assignment: "\e92b";
$ptcusys-icon-attachment: "\e92c";
$ptcusys-icon-author: "\e92d";
$ptcusys-icon-bold: "\e92e";
$ptcusys-icon-bookmark: "\e92f";
$ptcusys-icon-bookmark-active: "\e930";
$ptcusys-icon-calendar: "\e931";
$ptcusys-icon-caret-down: "\e932";
$ptcusys-icon-caret-left: "\e933";
$ptcusys-icon-caret-right: "\e934";
$ptcusys-icon-caret-up: "\e935";
$ptcusys-icon-cart: "\e936";
$ptcusys-icon-chat: "\e938";
$ptcusys-icon-checkmark: "\e939";
$ptcusys-icon-checkmark-square: "\e93a";
$ptcusys-icon-circl-close-clear: "\e93b";
$ptcusys-icon-class: "\e93c";
$ptcusys-icon-close-clear-x: "\e93d";
$ptcusys-icon-close-square: "\e93e";
$ptcusys-icon-code: "\e93f";
$ptcusys-icon-collapse-remove: "\e940";
$ptcusys-icon-collapse-square: "\e941";
$ptcusys-icon-comment: "\e942";
$ptcusys-icon-completed: "\e943";
$ptcusys-icon-composition: "\e944";
$ptcusys-icon-contract: "\e945";
$ptcusys-icon-copy: "\e946";
$ptcusys-icon-course: "\e947";
$ptcusys-icon-course-forum: "\e948";
$ptcusys-icon-courses-text: "\e949";
$ptcusys-icon-delete-trash: "\e94a";
$ptcusys-icon-difficulty: "\e94b";
$ptcusys-icon-discovery: "\e94c";
$ptcusys-icon-discovery-02: "\e94d";
$ptcusys-icon-document-check: "\e94e";
$ptcusys-icon-download: "\e94f";
$ptcusys-icon-download-02: "\e950";
$ptcusys-icon-duration: "\e951";
$ptcusys-icon-edit: "\e952";
$ptcusys-icon-email-01: "\e953";
$ptcusys-icon-email-02: "\e954";
$ptcusys-icon-enlarge: "\e955";
$ptcusys-icon-error: "\e956";
$ptcusys-icon-error-warning-01: "\e957";
$ptcusys-icon-exit: "\e958";
$ptcusys-icon-expand: "\e959";
$ptcusys-icon-expand-add-plus: "\e95a";
$ptcusys-icon-expand-add-plus-square: "\e95b";
$ptcusys-icon-experts: "\e95c";
$ptcusys-icon-external-link: "\e95d";
$ptcusys-icon-file-empty: "\e95e";
$ptcusys-icon-file-excel: "\e95f";
$ptcusys-icon-file-pdf: "\e960";
$ptcusys-icon-file-stats: "\e961";
$ptcusys-icon-file-structure: "\e962";
$ptcusys-icon-file-text-activity: "\e963";
$ptcusys-icon-filter: "\e964";
$ptcusys-icon-forum: "\e965";
$ptcusys-icon-graduation: "\e966";
$ptcusys-icon-handlebar-path1: "\e967";
$ptcusys-icon-handlebar-path2: "\e968";
$ptcusys-icon-history: "\e969";
$ptcusys-icon-home: "\e96a";
$ptcusys-icon-image: "\e96b";
$ptcusys-icon-indent-decreases: "\e96c";
$ptcusys-icon-indent-increases: "\e96d";
$ptcusys-icon-information-01: "\e96e";
$ptcusys-icon-information-02: "\e96f";
$ptcusys-icon-in-progress-path1: "\e970";
$ptcusys-icon-in-progress-path2: "\e971";
$ptcusys-icon-italic: "\e972";
$ptcusys-icon-key: "\e973";
$ptcusys-icon-learn-by-doing: "\e974";
$ptcusys-icon-learning-path: "\e975";
$ptcusys-icon-light-bulb-01: "\e976";
$ptcusys-icon-light-bulb-02: "\e977";
$ptcusys-icon-link: "\e978";
$ptcusys-icon-list: "\e979";
$ptcusys-icon-localization-language-globe: "\e97a";
$ptcusys-icon-locked: "\e97b";
$ptcusys-icon-mapping: "\e97c";
$ptcusys-icon-mbri-chat: "\e97d";
$ptcusys-icon-mbri-sites: "\e97e";
$ptcusys-icon-milestone-flag-01: "\e97f";
$ptcusys-icon-milestone-flag-02: "\e980";
$ptcusys-icon-mobile-menu-hamburger: "\e981";
$ptcusys-icon-more: "\e982";
$ptcusys-icon-move: "\e983";
$ptcusys-icon-move-down: "\e984";
$ptcusys-icon-move-up: "\e985";
$ptcusys-icon-new-notification: "\e986";
$ptcusys-icon-note: "\e987";
$ptcusys-icon-notification-bell: "\e988";
$ptcusys-icon-not-started: "\e98a";
$ptcusys-icon-objective: "\e98b";
$ptcusys-icon-play-02: "\e98c";
$ptcusys-icon-play-round: "\e98d";
$ptcusys-icon-process-01: "\e98e";
$ptcusys-icon-product: "\e98f";
$ptcusys-icon-project-submission: "\e990";
$ptcusys-icon-question: "\e991";
$ptcusys-icon-question-circle: "\e992";
$ptcusys-icon-quiz: "\e993";
$ptcusys-icon-quotes-close: "\e994";
$ptcusys-icon-quotes-open: "\e995";
$ptcusys-icon-recently-viwed: "\e996";
$ptcusys-icon-redo: "\e997";
$ptcusys-icon-refresh: "\e998";
$ptcusys-icon-remove-from-list: "\e999";
$ptcusys-icon-reports: "\e99a";
$ptcusys-icon-resume: "\e99b";
$ptcusys-icon-retake-loop: "\e99c";
$ptcusys-icon-revert: "\e99d";
$ptcusys-icon-revision: "\e99f";
$ptcusys-icon-save: "\e9a0";
$ptcusys-icon-search: "\e9a1";
$ptcusys-icon-Seminar: "\e9a2";
$ptcusys-icon-settings: "\e9a3";
$ptcusys-icon-sign-in: "\e9a4";
$ptcusys-icon-specialization: "\e9a5";
$ptcusys-icon-star: "\e9a6";
$ptcusys-icon-success: "\e9a7";
$ptcusys-icon-survey: "\e9a8";
$ptcusys-icon-switch: "\e9a9";
$ptcusys-icon-topics: "\e9aa";
$ptcusys-icon-tree: "\e9ab";
$ptcusys-icon-trophy: "\e9ac";
$ptcusys-icon-tutorials: "\e9ad";
$ptcusys-icon-underline: "\e9ae";
$ptcusys-icon-undo: "\e9af";
$ptcusys-icon-unlocked: "\e9b0";
$ptcusys-icon-up-arrow-square: "\e9b1";
$ptcusys-icon-upload: "\e9b2";
$ptcusys-icon-user-2: "\e9b3";
$ptcusys-icon-user-2-add: "\e9b4";
$ptcusys-icon-user-2-block: "\e9b5";
$ptcusys-icon-user-2-check: "\e9b6";
$ptcusys-icon-user-3: "\e9b7";
$ptcusys-icon-user-3-add: "\e9b8";
$ptcusys-icon-user-3-block: "\e9b9";
$ptcusys-icon-user-3-check: "\e9ba";
$ptcusys-icon-users: "\e9bb";
$ptcusys-icon-version: "\e9bc";
$ptcusys-icon-version-02: "\e9bd";
$ptcusys-icon-video-01: "\e9be";
$ptcusys-icon-video-camera: "\e9bf";
$ptcusys-icon-view-document: "\e9c0";
$ptcusys-icon-visibility-off: "\e9c1";
$ptcusys-icon-visibility-view: "\e9c2";
$ptcusys-icon-volume-audio: "\e9c3";
$ptcusys-icon-volume-audio-off: "\e9c4";
$ptcusys-icon-warning: "\e9c5";
$ptcusys-icon-wrench: "\e9c6";

