// #mainHeader
#mainHeader {
  background: url(#{$imageDir}hero-background-ryan-kershner.jpg) center center no-repeat;
  min-height: 550px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $greyDark;
    opacity: .5;
    z-index: 1;
  }

  > * {
    @include layoutMain;
    position: relative;
    z-index: 100;
  }

  h1 {
    color: $white;
    font-size: 2.5rem;
    padding-top: 12rem;
  }

  h2 {
    color: $white;
    font-family: $textFontFamily;
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: .5rem;
  }

  .mainHeroCTA {
    @include linkStateChange($white);
    border-bottom: 5px solid $white;
    display: inline-block;
    margin-top: 2rem;
    padding-bottom: .8rem;
    width: auto !important;

    &:hover, &:focus {
        border-bottom: 5px solid $grey;
    }
  }
}
