.body-about {

  main > nav {
    @include layoutMain;
  }

  article {
    padding: 0 0 3rem;

    h1, h2 {
     // font-weight: normal;
    }

    h1 {
      @extend .typl8-delta;
    }
    h2 {
      @extend .typl8-zeta;
    }
  }

  .aboutLayout {
    @include layoutMain;
    .leftColumn {
      width: 26%;
      float: left;
      padding: 0 20px 0 0;

      nav {
        li {
          margin: 0 0 15px;
          line-height: 25px;

          a {
            font-weight: 500;
          }
        }
      }

      @include bp(baby-bear) {
        width: auto;
        float: none;
        padding: 0 0 40px;
      }
    }

    .rightColumn {
      margin-left: 32%;
      width: auto;
      padding: 0;

      @include bp(baby-bear) {
        margin-left: 0;
      }

      p, span {
        font-weight: 500;
      }

      h1, h2 {
        text-align: left;
      }

      .articleContent {
        > ul > li {
          font-weight: 500;
          padding: 5px 0;
          border-bottom: 1px solid $border;

          ul {
            margin-left: 30px;
            list-style-type: circle;
          }

          span {
            font-weight: 500;
          }
        }
      }
      .mapRecommendation {
        .articleContent {
         > ol > li {
           font-weight: 500;
           padding: 8px 0 8px 5px;
           border-bottom: 1px solid $border;

          ul {
            font-weight: 500;
            margin-left: 30px;
            list-style-type: circle;
          }
        }

        }
      }
    }
  }

  .center {
    //text-align: center;
    margin: 10px 0;
  }

  .inlineImage {
    display: inline-block;
    vertical-align: top;
    margin:0 5px;
  }

  .badgeLc {
    @extend .inlineImage;
    background: url('../assets/images/lc-badge.png') no-repeat;
    width: 166px;
    height: 26px;
  }

  .createRecommendation {
    @extend .inlineImage;
    background: url('../assets/images/create-recommendation.png') no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
  }
  .addCustomRecommendation {
    @extend .inlineImage;
    background: url('../assets/images/add-custom-recommendation.png') no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
  }
  .reloadRecommendation {
    @extend .inlineImage;
    background: url('../assets/images/reload-recommendation.png') no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
  }
  .addExternalRecommendation {
    @extend .inlineImage;
    background: url('../assets/images/add-external-recommendation.png') no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
  }
}
