.spotLight {
    
    #mainHeader {
     background-position: 71% 65%;
     background-repeat: no-repeat;
     background-size: 30% auto;

        &::after {
            content: none;
        }

        h1, h2, p {
            padding-right: 55%;
        }

        @include bp(baby-bear) { 
            background-image: none !important;

            h1, h2, p {
                padding-right: 3%;
            }
        }
    }
}

#walkThrough {
    padding-top: 5rem;

    article {
        margin-top: 3rem;
    }
}

#useCase {

    .rolesResponsibilities, .teamMembers {
        display: inline-block;
        width: 48%;        
        
        ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }
    }

    section {
        padding-top: 5rem;
        text-align: center;

        p {
            line-height: 1.5rem;
            padding: 0 10rem;

            @include bp(baby-bear) {
                padding: 0 .5rem;
            }
        }

        ul {
            list-style-type: disc;
            text-align: left;
            padding: 0 20rem;

            @include bp(baby-bear) {
                padding: 0 1.3rem;
            }
        }
    }

    figure {
        padding-top: 5rem;

        img {
            max-width: 100%;
        }

        figcaption {
            @extend %visuallyhidden;
        }
    }

}

.useCaseCTA {
    padding-top: 5rem;
    text-align: center;

    a {
        @extend .primaryButton;
        font-size: 1.5rem;
        
        &:hover, &:focus {
            color: $white;
        }
    }
}