#featuredWorks{
    margin-top: 3rem;

    h2 {
        color: $greyDark;
        font-size: 1rem;
    }

    

    article {
        display: flex;
        flex-wrap: wrap;
        margin: 5rem 0 10rem;
        min-height: 400px;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        .spotlightIntro {
            width: 40%;

            h3 {
                margin-top: 2rem;
            }

            p {
                color: $grey3;
            }

            a {
                @include linkStateChange($greyDark);
                border-bottom: 5px solid $grey;
                display: inline-block;
                margin-top: 3rem;
                padding-bottom: .8rem;

                &:hover, &:focus {
                    border-bottom: 5px solid $greyDark;
                }
            }
        }

        .spotlightFigure {
            width: 60%;

            figure {
                text-align: center;
            }

            img {
                box-shadow: 5px 5px 15px 5px $grey3;
                max-width: 95%;
                transition: $transition-ease;
            }

            img:hover, img:focus {
                max-width: 100%;
            }

            img:active {
                max-width: 98%;
            }

            figcaption {
                @extend %visuallyhidden;
            }
        }

        @include bp(baby-bear) {
            display: block;
            margin: 5rem 0;
            min-height: auto;

            .spotlightIntro, .spotlightFigure {
                margin-bottom: 2rem;
                width: 100%;
            }
        }
    }
}